# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/

# macOS and Linux
.DS_Store

# Windows
Thumbs.db

# IDEs
.vscode/
.idea/

# Python egg
*.egg-info/

# Log files
*.log
